@media (max-width: 768px) {
    .product-detail {
         /* display: block !important;  */
          flex-direction: column;
    }

    .cartproduct{
        flex-direction: column;
 
    }
    .signupimage{
        display: none;
    }
    .btn-sm{
        margin-bottom: 5px;
    }

    .category-section {
        background-color: #f8f9fa; 
      }
      
      .card {
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        overflow: hidden;
      }
      
      .card-img-top {
        transition: transform 0.3s ease-in-out;
      }
      
      .card:hover .card-img-top {
        transform: scale(1.05); 
      }
      
      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
      }

 }

 .category-section {
    /* padding: 0px; */
    width: 85%;
}


.category-div img {
    max-width: 80px; /* Limit the max width of images */
    height: auto;    /* Maintain aspect ratio */
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.cat {
    box-shadow: 1px 1px 5px rgba(25, 35, 55, 0.5);
  }

  input{
    height: 50px;
    border: 1px solid red;
  }

  .error{
    color:red;
  }
  
.home-image{
    height: 250px;
}
  
@media (max-width: 768px) {
    .home-image {
        height: 137px;
    }

    .category-section {
        width: 100%;
    }
    .text{
        font-size: 12px;
    }
}